 .bgimg
{
    background-image: url('../images/img12.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 660px;
}
.hearderset
{
    padding-top: 250px;
    box-sizing: border-box;
}
.hearderset h2
{
    font-size: 42px;
}
.hearderset h1
{
    font-size: 75px;
    font-weight: bold;
}
 
.rowsetting
{
   margin: 80px 0px;
} 
.imgsetting
{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.fas
{
  margin-top: 20px;
}
.rowsetting h2
{ 
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
.rowsetting p
{ 
    padding: 10px;
} 
.about
{
    font-size: 60px;
    color: cornflowerblue;
    text-align: left; 
}
.aboutp
{
    font-size: 22px;
    font-family: sans-serif;
 }
.contact
{
    color: black;
    font-family: 20px;
    font-weight: bold;
}
.mob
{
    font-size: 30px; 
    font-family:Sans-serif;
    font-weight: 100;
}
.mail
{
    font-size: 30px; 
    font-family:Sans-serif;
    font-weight: 100;
}
a i
  {
    transition: all 0.3s linear;
  }
  a:hover i
  {
      transform: scale(2.1);
  }
  .nav-item:hover
  {
      background-color: cadetblue;
      font-size: 20px;
  }
