.unique
{ 
    color: white;
    margin: 0;
    position: absolute; 
    left: 9%;
}

.myText::before
{
    content: "";   
    animation: type 5s steps(15) infinite;
    white-space: nowrap;
    color: yellowgreen;
}

@keyframes type
{
    0%
    {
        content: "Programmer";
        width: 0%;
    } 
    50%
    {
        content: "Web Developer";
        width: 70%;
    }
    75%
    {
        content: "Blogger....!";
        width: 70%;
    }
    100%
    {
        content: "Graphic Designer";
        width: 0%;
    }
}

/*
.ourservices
{
    padding: 100px 0px 60px;
}
*/
.bgimg
{
    background-image: url('nice.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 660px;
}
.hearderset
{
    padding-top: 150px;
    box-sizing: border-box;
}
.hearderset h2
{ 
    font-size: 50px; 
}
.hearderset h1
{
    font-size: 70px; 
}
/*  .me
{
    padding-top: 10%;
} */
.rowsetting
{
   margin: 80px 0px;
} 
.imgsetting
{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.fas
{
  margin-top: 20px;
}
.rowsetting h2
{ 
    margin-top: 20px;
    font-size: 30px; 
    font-weight: bold;
}
.rowsetting p
{ 
    padding: 10px;
} 
.about
{
    font-size: 40px;
    color: cornflowerblue;
    text-align: left; 
}
.aboutp
{
    font-size: 22px;
    font-family: sans-serif;
    text-align: left;
    margin-bottom: 29%;
 }
.contact
{
    color: black;
    font-family: 20px;
    font-weight: bold;
}
.mob
{
    font-size: 30px; 
    font-family:Sans-serif;
    font-weight: 100;
}
.mail
{
    font-size: 30px; 
    font-family:Sans-serif;
    font-weight: 100;
}
a i
  {
    transition: all 0.3s linear;
  }
  a:hover i
  {
      transform: scale(1.5);
  }
  .nav-item:hover
  {
      background-color: cadetblue;
      font-size: 20px;
  }
